@import "./pico.css";
@import "./responsive.css";

[data-theme="light"] {
    --sectool-color-primary-theme: #515a6e;
    --sectool-color-secondary-theme: #909399;
    --sectool-border-color-theme: #dcdfe6;
    --sectool-placeholder-text-color-theme: #a8abb2;
    --sectool-mask-color: rgba(255, 255, 255, .9);

    --sectool-background-color: #fff;

    --sectool-block-title-bg-color: #f7f7f7;
    --sectool-block-content-bg-color: var(--sectool-background-color);

    --sectool-dropdown-background-color: #fff;
    --sectool-dropdown-hover-background-color: #eee;

    --sectool-form-element-background-color: #fff;
    --sectool-form-element-active-background-color: #fff;
}

[data-theme="dark"] {
    --sectool-color-primary-theme: #bbc6ce;
    --sectool-color-secondary-theme: #a3a6ad;
    --sectool-border-color-theme: #4c4d4f;
    --sectool-placeholder-text-color-theme: #8d9095;
    --sectool-mask-color: rgba(17, 25, 31, .9);

    --sectool-background-color: #242424;

    --sectool-block-title-bg-color: #333333;
    --sectool-block-content-bg-color: var(--sectool-background-color);

    --sectool-dropdown-background-color: #4a4a4a;
    --sectool-dropdown-hover-background-color: #616161;

    --sectool-form-element-background-color: #202124;
    --sectool-form-element-active-background-color: #242424;
}


#root, :root, html {
    /* 主色调 */
    --sectool-primary: #1abc9c;
    --sectool-primary-hover: #48c9b0;
    --sectool-primary-focus: rgba(15, 173, 142, 0.12);

    --sectool-contrast: #ed4014;
    --sectool-contrast-hover: #f89898;
    --sectool-contrast-focus: #ab5858;
    /* 文字颜色 */
    --sectool-color-primary: var(--sectool-color-primary-theme);
    --sectool-color-secondary: var(--sectool-color-secondary-theme);
    /* 默认表单高度和字体大小 */
    --sectool-form-item-height: 2rem;
    --sectool-form-font-size: .875rem;

    --sectool-border-color: var(--sectool-border-color-theme);
    --sectool-placeholder-text-color: var(--sectool-placeholder-text-color-theme);

    --sectool-info-color: #909399;
    --sectool-disabled-text-color: var(--sectool-placeholder-text-color);

    --primary: var(--sectool-primary);
    --primary-hover: var(--sectool-primary-hover);
    --primary-focus: var(--sectool-primary-focus);
    --color: var(--sectool-color-primary);
    --background-color: var(--sectool-background-color);

    --spacing: 0rem;
    --form-element-spacing-vertical: 0rem;
    --form-element-spacing-horizontal: 0rem;


    --card-sectionning-background-color: var(--sectool-block-title-bg-color);
    --card-background-color: var(--sectool-background-color);

    --form-element-color: var(--sectool-color-primary);
    --form-element-border-color: var(--sectool-border-color);
    --form-element-background-color: var(--sectool-form-element-background-color);
    --form-element-active-background-color: var(--sectool-form-element-active-background-color);

    --dropdown-background-color: var(--sectool-dropdown-background-color);
    --dropdown-hover-background-color: var(--sectool-dropdown-hover-background-color);

    color: var(--color);
}


#root [data-size="small"] {
    --sectool-form-item-height: 1.5rem;
    --sectool-form-font-size: .75rem;
}

#root [data-size="large"] {
    --sectool-form-item-height: 2.5rem;
}

#root [data-disabled="y"] {
    opacity: var(--form-element-disabled-opacity);
    pointer-events: none;
}

input, select, textarea {
    font-size: .875rem;
    --form-element-placeholder-color: var(--sectool-placeholder-text-color);
}

body {
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, \5fae\8f6f\96c5\9ed1, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input:not([type=submit], [type=button], [type=reset])[disabled], select[disabled], textarea[disabled], :where(fieldset[disabled]) :is(input:not([type=submit], [type=button], [type=reset]), select, textarea) {
    --background-color: var(--form-element-background-color);
    --border-color: var(--form-element-border-color);
    opacity: unset;
    pointer-events: unset;
}

@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme=light]) {
        --background-color: var(--sectool-background-color);
    }
}

.sectool-input-label{
    font-weight: 500;
}

